li {
    list-style-type: none;
}

body {
    background-color: darkslategrey;
}

div {
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-image: url("https://i.pinimg.com/originals/56/8a/71/568a716c0068055d685013d03734d327.jpg");
    min-height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}

.home {
    color: aqua;
}

.home:hover {
    color: black;
    font-size: 1.3em;
}